{% extends 'base.html' %}
{% load static %}

{% block body %}
<h1>Event List</h1>

<div class="content">
    <div class="add">
        <a href="{% url 'localevents:event-create' %}">Create Event</a>
    </div>

    <!-- CREATED EVENTS -->
    <h2>Created Events</h2>
    {% if created_events %}
    <div class="main-content">
        {% for event in created_events %}
        <div class="card">
            <ul>
                <li>
                    <h2>{{ event.title }}</h2>
                    <p><strong>Category:</strong> {{ event.category }}</p>
                    <p>{{ event.description|truncatechars:30 }}</p>
                    <a href="{{ event.get_absolute_url }}">View Details</a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="else-main-content">
        <p><em>No created events.</em></p>
    </div>
    {% endif %}

    <!-- SIGNED EVENTS -->
    <h2>Signed Events</h2>
    {% if signed_events %}
    <div class="main-content">
        {% for event in signed_events %}
        <div class="card">
            <ul>
                <li>
                    <h2>{{ event.title }}</h2>
                    <p><strong>Category:</strong> {{ event.category }}</p>
                    <p>{{ event.description|truncatechars:30 }}</p>
                    <a href="{{ event.get_absolute_url }}">View Details</a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="else-main-content">
        <p><em>No signed events.</em></p>
    </div>
    {% endif %}

    <!-- ALL EVENTS -->
    <h2>All Events</h2>
    {% if events %}
    <div class="main-content">
        {% for event in events %}
        <div class="card">
            <ul>
                <li>
                    <h2>{{ event.title }}</h2>
                    <p><strong>Category:</strong> {{ event.category }}</p>
                    <p>{{ event.description|truncatechars:30 }}</p>
                    <a href="{{ event.get_absolute_url }}">View Details</a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="else-main-content">
        <p><em>No events available.</em></p>
    </div>
    {% endif %}
</div>
{% endblock %}