{% extends 'base.html' %}
{% load static %}


{% block app_style %}
<link rel="stylesheet" href="{% static 'localevents/css/styles.css' %}">
{% endblock %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            {% if "event_edited" in message.tags %}
                <div class="no-data-container glass-style alert success">
                    You successfully edited {{ message }}.
                </div>
            {% elif "event_cancelled" in message.tags %}
                <div class="class=no-data-container glass-style alert success">
                    You cancelled your signup for "{{ message }}".
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="heading-block">
        <a class="nav-link" href="{% url 'merchstore:product_list' %}">
                <i class="fa-solid fa-arrow-left"></i>
                <span>Return to Local Events List</span>
        </a>
    </div>

    <div class="no-data-container glass-style">
        {% if event.event_image %}
            <img class= "event_image" src="{{ event.event_image.url }}" alt="Product Image" width="300">
        {% else %}  
            <div class="no-data-container">
                <p><em>No available image.</em></p>
            </div>
        {% endif %}
    </div>

    <div class="localevents-detail">
         
        <div class="localevents-detail-block-left glass-style">
            <div class="localevents-detail-header">
                <h1> {{ event.title }} </h1>
                {% if is_organizer %}
                <div class="update">
                    <a class="nav-link" href="{% url 'merchstore:product_update' product.pk %}">
                        <i class="fa-solid fa-pencil"></i>
                        <span>Edit Event Details</span>
                    </a>
                </div>
                {% endif %}
            </div>
            <h2><em>{{ event.category }}</em></h2>
            <p style="text-align: justify;">{{ event.description }}</p>


        </div>
        
         <div class="localevents-detail-block-right">
           <div class="stack-up">
                <p class="glass-style"><strong>Start Time: </strong>{{ event.start_time }}</p>
                <p class="glass-style"><strong>End Time: </strong>{{ event.end_time }}</p>
                <p class="glass-style"><strong>Created: </strong>{{ event.created_on }}</p>
                <p class="glass-style"><strong>Update: </strong>{{ event.updated_on }}</p>

                <div class="localevents-button">
                    {% if has_signed_up %}
                        <form method="post" action="{% url 'localevents:event-cancel-signup' event.pk %}">
                            {% csrf_token %}
                            <button type="submit">Cancel Signup</button>
                        </form>
                    {% elif is_authenticated %}
                        <form method="post" action="{% url 'localevents:event-detail-signup' event.pk %}">
                            {% csrf_token %}
                            <button type="submit" {% if is_full %}disabled{% endif %}>
                                {% if is_full %}Full{% else %}Sign up{% endif %}
                            </button>
                        </form>
                    {% else %}
                        <a href="{% url 'localevents:event-detail-signup' event.pk %}">
                            <button {% if is_full %}disabled{% endif %}>
                                {% if is_full %}Full{% else %}Sign up{% endif %}
                            </button>
                        </a>
                    {% endif %}
                </div>
        
            </div>
        </div>
    </div>
{% endblock %}