{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <h1> {{ event.title }} </h1>
    <div class="box"><strong>Category:</strong> {{ event.category }}</div>
    <div class="box"><strong>Description:</strong> {{ event.description }}</div>
    <div class="box"><strong>Started Time:</strong> {{ event.start_time }}</div>
    <div class="box"><strong>End Time:</strong> {{ event.end_time }}</div>
    <div class="box"><strong>Created:</strong> {{ event.created_on }}</div>
    <div class="box"><strong>Updated:</strong>:</strong> {{ event.updated_on }}</div>
    <div class="box"><a href="/localevents/events">Go back to events</a></div>
</div>

{% if not is_organizer %}
<a href="{% url 'localevents:event-signup' event.pk %}">
    <button {% if is_full %}Sign up full{% endif%}>
        Sign up
    </button>
</a>
{% else %}


{% endif %}
{% endblock %}