{% extends "base.html" %}
{% load static %}

{% block app_style %}
<link rel="stylesheet" href="{% static 'localevents/css/styles.css' %}">
{% endblock %}


{% block body %}
<div class="create-header">
    {% if event %}
        <h1>Edit Event</h1>
    {% else %}
        <h1>Create Event</h1>
    {% endif%}
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="commission-detail">
        <div class="form-container glass-style">

            <div class="headline">{{ form.title.label }} </div> 
            {{ form.title }}

            <div class="headline">{{ form.category.label }} </div> 
            {{ form.category }}

            <div class="headline">{{ form.organizer.label }} </div> 
            {{ form.organizer }}

            <div class="headline">{{ form.description.label }} </div> 
            {{ form.description }}

        </div>
        <div class="jobs-needed-block">
            <div class="form-container glass-style">
                <div class="headline">{{ form.location.label }} </div> 
                {{ form.location }}

                <div class="headline">{{ form.start_time.label }} </div> 
                {{ form.start_time }}

                <div class="headline">{{ form.end_time.label }} </div> 
                {{ form.end_time }}

                <div class="headline">{{ form.event_capacity.label }} </div> 
                {{ form.event_capacity }}

                <div class="headline">{{ form.status.label }} </div> 
                <div class="dropdown-status">{{ form.status }}</div>
            </div>
            <div class="form-container glass-style">
                <div class="headline">{{ form.event_image.label }} </div> 
                {{ form.event_image }}
            </div>
        </div>
    </div>
    <div class="save-back">
        <button type="submit" class="nav-link">
            {% if event %}
                <u>Update Event</u>
            {% else %}
                <u>Create Event</u>
             {% endif%}
        </button>
        <a class="nav-link" href="{% url 'localevents:event-list' %}"><u>Back to Events</u></a>
    </div>
</form>

{% endblock %}