:root {
    --gradient-background: linear-gradient(180deg, #707CD6 0%, #2A326C 29.33%, #0E1442 63.46%, #20275E 100%);
}

.glass {
    align-content: center;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .1);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
}

.app-header-text {
    margin: 0;
    padding: 20px 0;
    font-size: 80px;
    font-weight: 600;
}

.section-header {
    font-size: 32px;
    font-weight: 300;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.glass.card {
    width: 335px;
    height: 250px;
}

.card-wrap {
    display: block;
    padding: 0 24px;
}

.events-title {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
}

.events-category {
    margin: 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.events-description {
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 12px;
}

.more-block {
    display: flex;
    justify-content: right;
}

.events-more {
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    color: var(--brand-white);
    border: 1px var(--brand-white) solid;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

p.else {
    margin: 8px 0;
    text-align: center;
    font-style: italic;
    font-weight: 200;
}

.wave-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    line-height: 0;
    z-index: 0;
}

.wave-container svg {
    position: absolute;
}

.wave-container svg:nth-child(1) {
    z-index: 1;
    top: 0;
    left: 0;
}

.wave-container svg:nth-child(2) {
    z-index: 2;
    top: 0;
    right: 0;
}

.wave-container svg:nth-child(3) {
    z-index: 3;
    bottom: 0;
    left: 0;
}

.wave1 {
    animation: morph1 30s ease-in-out infinite;
}

.wave2 {
    animation: morph2 30s ease-in-out infinite;
}

.wave3 {
    animation: morph3 30s ease-in-out infinite;
}

@keyframes morph1 {

    0%,
    100% {
        d: path("M455 228.5C138 248 74 453 -12 556.5L0 0H1163C1034.5 161 772 209 455 228.5Z");
    }

    25% {
        d: path("M467.5 158.5C150.5 178 90 284.5 -12 556.5L0 0H1163C1034.5 161 784.5 139 467.5 158.5Z");
    }

    50% {
        d: path("M437.5 236.5C281.5 379.796 289 511 -12 556.5L0 0H1163C885.5 345 593.5 93.2036 437.5 236.5Z");
    }

    75% {
        d: path("M437.5 236.5C175.5 206.5 211 392.5 -12 556.5L0 0H1163C792.5 78 699.5 266.5 437.5 236.5Z");
    }
}

@keyframes morph2 {

    0%,
    100% {
        d: path("M700.5 171C407.5 202.5 287.5 417.5 0 0H1071V491C1021.5 354.5 993.5 139.5 700.5 171Z");
    }

    25% {
        d: path("M696.5 221C403.5 252.5 102.5 373.5 0 0H1071V491C1021.5 354.5 989.5 189.5 696.5 221Z");
    }

    50% {
        d: path("M747.5 108.5C442 -4 259.5 299.5 0 0H1071V491C1025 314 1053 221 747.5 108.5Z");
    }

    75% {
        d: path("M739 176.5C563 270 196 462.5 0 0H1071V491C1006 299.5 915 83 739 176.5Z");
    }
}

@keyframes morph3 {

    0%,
    100% {
        d: path("M1060.5 389C389.575 54.368 118.5 95.5 0 605H1920V0C1825 254 1464.5 590.5 1060.5 389Z");
    }

    25% {
        d: path("M1060.5 389C331.033 215.805 98.5 389 0 605H1920V0C1825 254 1488 490.5 1060.5 389Z");
    }

    50% {
        d: path("M1060.5 411.27C840.079 583.249 68 54.2697 0 627.27H1920V22.2698C1793.5 -27.2301 1627 -30.7303 1060.5 411.27Z");
    }

    75% {
        d: path("M1060.5 389C700 463.5 390.5 164.5 0 605H1920V0C1797 259.5 1764.16 243.583 1060.5 389Z");
    }
}