/*Detail*/
:root {
    --bluish-gray: rgba(105, 103, 109, 0.2);
}



.glass-style {
    background: var(--bluish-gray);
    border-radius: 30px;
}
.event_image {
    width: 100%;          
    max-width: 500px;     
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.image-container {
    max-width: 600px;          
    width: 100%;               
    margin: 0 auto;            
    display: flex;             
    justify-content: center;   
    align-items: center;       
    overflow: hidden;          
    border-radius: 15px;       
    padding: 10px;             
}


.image-container img.event_image {
    width: 100%;               
    max-width: 100%;          
    height: auto;              
    display: block;            
    border-radius: 15px;       
}

.no-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    text-align: center;
}

.localevents-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
}

.localevents-detail-block-left {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 20px 20px 20px 20px;
    margin: 15px 15px 0 100px; 
}

.localevents-detail-header {
    display: grid;
    grid-template-columns: 2fr 1fr; /* left is 2x bigger */
    align-items: center;
}

.localevents-detail-header h1{
    margin: 0;
}

.localevents-detail-header .update {
    justify-self: end;
}

.localevents-detail-block-right {
    margin-top: 15px;  
    padding-right: 100px;
    text-align: center;
}

.stack-up p{
    margin: 0 0 20px 0;
    padding: 10px;
    width:500px;
    flex-direction: column;
}

.stack-up {
    display: flex;            
    flex-direction: column;  
    align-items: center;     
    justify-content: center;  
    gap: 0;                
    text-align: center;                 
    width: fit-content;       
    margin: 0;           /* Center container horizontally on page */
}

.localevents-button {
    background: transparent;
}

.localevents-button form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.localevents-button input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    color: white;
    outline: none;
}


.localevents-button button {
    padding: 10px 20px;
    background: transparent;
    color: white;
    border: 1.5px solid white;
    border-radius: 12px;
    cursor: pointer;
    border-radius: 12px;
    align-self: center;
}

.localevents-button button:hover {
    background: rgba(255, 212, 212, 0.1);
    box-shadow: 0 0 10px rgba(255, 212, 212, 0.4);
    background-color: #5c5a59;
}

.localevents-button button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}