:root {
    --gradient-background: linear-gradient(180deg, #381C10 0%, #933A25 100%);
    --light-orange: rgba(203, 147, 75, 0.20);
    --gradient-table-background: linear-gradient(180deg, #933A25 0%, #D26613 100%);
}

a {
    color: rgb(236, 221, 221);
    text-decoration: none;
}

h1 {
    color: var(--brand-white);
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

h2 {
    color: var(--brand-white);
    font-weight: 200;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

h3 {
    color: var(--brand-white);
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2px;
}

.heading-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
    padding: 0px 40px;
    width: 100%;
}

.nav {
    padding: 12px 24px;
}

.app-header {
    display: block;
}

.app-header-text {
    margin: 0;
    font-size: 80px;
    font-weight: 600;
}

.subhead-nav {
    display: flex;
    gap: 16px;
}

.glass {
    align-content: center;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .1);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
}

.section-header {
    font-size: 32px;
    font-weight: 300;
}

.project-list {
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.glass.card {
    width: 335px;
    height: 250px;
}

.card-wrap {
    display: block;
    padding: 0 24px;
}

.view-block {
    display: flex;
    justify-content: right;
}

p.else {
    margin: 8px 0;
    text-align: center;
    font-style: italic;
    font-weight: 200;
}

.project-detail {
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    color: var(--brand-white);
    border: 1px var(--brand-white) solid;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.merchstore-header {
    font-size: 24px;
    text-align: center;
}

.glass-style {
    background: var(--light-orange);
}

.no-data-container.glass-style.alert-success {
    display: flex;
    width: 100%;
    max-width: 1758px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.no-data-container.glass-style.alert-success p {
    color: var(--brand-white);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: -1px;
}

.headline {
    color: var(--brand-white);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.6px;
}

.button-border {
    border-radius: 14px;
    border: 1px solid #FFD4D4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
}

.button-placement {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.merchstore-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
}

.merchstore-detail-block-left {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-left: 100px;
}

.merchstore-detail-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.merchstore-detail-header h1 {
    margin: 15px 0 10px 0;
}

.merchstore-detail-block-left h2 {
    margin: 0 0 10px 0;
}

.merchstore-detail-header .update {
    justify-self: end;
}

.merchstore-detail-block-right {
    margin-top: 15px 100px 0 0;
}

.merchstore-detail-block-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
}

.merchstore-detail-block-right img.product_image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: px;
}


.img.product_image {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px;
}

.description.glass-style {
    padding: 20px;
}

.merchstore-buy {
    background: transparent;
}

.merchstore-buy form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.merchstore-buy input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    outline: none;
}

.merchstore-buy button {
    align-self: center;
}

.merchstore-buy button {
    padding: 10px 20px;
    background: transparent;
    color: white;
    border: 1.5px solid white;
    border-radius: 12px;
    cursor: pointer;
    border-radius: 12px;
}

.buy-input::placeholder {
    color: white;
    opacity: 1;
}

.merchstore-buy button:hover {
    background: rgba(255, 212, 212, 0.1);
    box-shadow: 0 0 10px rgba(255, 212, 212, 0.4);
    background-color: #e05500;
}

.merchstore-buy button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.product-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.create-update-header {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    width: 100%
}

.create-update-header h1 {
    margin: 0;
}


.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    outline: none;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    box-shadow:
        inset 0 1px 0 rgba(93, 53, 4, 0.15);
}

.form-container input::placeholder,
.form-container textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-container .headline {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85);
    margin-top: 6px;
}

.merchstore-create-update {
    display: flex;
    justify-content: center;
}

.merchstore-create-update select option {
    background-color: #e05500;
    color: #ffffff;
}

.form-container {
    width: 100%;
    max-width: 600px;
    padding: 30px;
}

.create-update-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin: 0 0 30px 0;
}

.glass-button-create-update {
    padding: 10px 18px;
    border-radius: 14px;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.18);

    color: white;
    text-decoration: none;
    font-family: Inter;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    box-shadow:
        0 8px 16px rgba(0, 0, 0, 0.25),
        inset 0 1px 0 rgba(255, 255, 255, 0.15);

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.merchstore-image input[type="file"]::file-selector-button {
    background-color: #cd6e2b;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.merchstore-image input[type="file"]::file-selector-button:hover {
    background-color: #e05500;
}


.glass-button-create-update:hover {
    background: rgba(255, 212, 212, 0.1);
    box-shadow: 0 0 10px rgba(255, 212, 212, 0.4);
    background-color: #e05500;
}

.heading-block-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
    padding: 0px 100px;
    max-width: 600px;
    width: 100%;
}

.merchstore-layout {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.seller-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.seller-transactions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.seller-name {
    min-width: 220px;
}


/*Transaction*/

.merchstore-layout-transactions {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Each buyer section */
.buyer-group {
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;

    background: var(--gradient-table-background);
    backdrop-filter: blur(10px);
    margin: 0 80px 0 80px;
}

.buyer-name h2 {
    margin: 0;
    font-size: 20px;
    color: white;
    padding: 0 100px 10px 100px;
}

.table-wrapper {
    padding: 0 100px 0 100px;
}

table {
    width: 100%;
    border-collapse: collapse;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    overflow: hidden;

    color: white;
}

thead {
    background: rgba(255, 255, 255, 0.12);
}

th {
    text-align: left;
    padding: 14px;
    font-weight: 600;
}

td {
    padding: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.20);
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.08);
}

.wave-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    line-height: 0;
    z-index: 0;
}

.wave-container svg {
    position: absolute;
}

.wave-container svg:nth-child(1) {
    z-index: 2;
    top: 0;
    right: 0;
}

.wave-container svg:nth-child(2) {
    z-index: 1;
    top: 0;
    left: 0;
}

.wave-container svg:nth-child(3) {
    z-index: 3;
    bottom: 0;
    left: 0;
}

.wave1 {
    animation: morph1 30s ease-in-out infinite;
}

.wave2 {
    animation: morph2 30s ease-in-out infinite;
}

.wave3 {
    animation: morph3 30s ease-in-out infinite;
}

@keyframes morph1 {

    0%,
    100% {
        d: path("M1069 229C708.006 147.441 227.5 289.5 0 605H1920V0C1844.76 230.946 1728.5 378 1069 229Z");
    }

    25% {
        d: path("M1069 229C699 140.5 464 9 0 605H1920V0C1844.76 230.946 1446.71 319.344 1069 229Z");
    }

    50% {
        d: path("M1150.5 395.112C881.5 653.612 505 156.612 0 633.612H1920V28.6122C1723 -72.3878 1452.99 104.432 1150.5 395.112Z");
    }

    75% {
        d: path("M1150.5 366.5C784.392 294.75 505 128 0 605H1920V0C1716 78.4999 1548.5 444.5 1150.5 366.5Z");
    }
}

@keyframes morph2 {

    0%,
    100% {
        d: path("M613.863 161C372 161 86 284.5 0 388V0H1163C1135 115 855.725 161 613.863 161Z");
    }

    25% {
        d: path("M613.863 161C393 231.5 222.5 418.5 0 388V0H1163C1135 115 834.725 90.5 613.863 161Z");
    }

    50% {
        d: path("M613.863 161C352.725 76 197.5 221 0 388V0H1163C1135 115 875 246 613.863 161Z");
    }

    75% {
        d: path("M613.863 161C327 327.5 192 62.5 0 388V0H1163C1024 29 900.725 -5.5 613.863 161Z");
    }
}

@keyframes morph3 {

    0%,
    100% {
        d: path("M700.5 171C498 118 248 342.5 0 0H1071V491C1018.2 435.61 903 224 700.5 171Z");
    }

    25% {
        d: path("M739 183.5C580.5 203 339 409.5 0 0H1071V491C1018.2 435.61 897.5 164 739 183.5Z");
    }

    50% {
        d: path("M662.5 217.5C463.5 182 52.5 217.5 0 0H1071V390C851 377.5 861.5 253 662.5 217.5Z");
    }

    75% {
        d: path("M687.5 158.5C485 57 365.5 365 0 0H1071V390C778 478.5 890 260 687.5 158.5Z");
    }
}