{% extends 'base.html' %}
{% load static %}

{% block body %}
<h1>Book List</h1>
{% if books %}
<div class="main-content">
    {% for book in books %}
    <div class="card">
        <ul>
            <li>
                <h2> {{ book.title }}</h2>
                <p><strong>Genre:</strong> {{ book.genre }}</p>
                <p>{{ book.author }} </p>
                <a href='{{ book.get_absolute_url }}'> View Details </a>
            </li>
        </ul>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="else-main-content">
    <p><em>No books available.</em></p>
</div>
{% endif %}

{% endblock %}