{% extends 'commissions/base_commission.html' %}
{% load static %}

{% block body %}

<div class="app-header">
    <h1 class="app-header-text">Commissions</h1>
    {% if user.is_authenticated and user.profile.role == "Commission Maker" %}
    <a href="/commissions/request/add" class="glass add-project-block">
        <div class="add-button glass-style">
            <img src="/static/global/img/add-icon.png" alt="add-icon" width="12" height="12">
            <p class="add-text">Create Projects</p>
        </div>
    </a>
    {% endif %}
</div>

{% if user.is_authenticated %}
<div class="glass-block">

    <div class="commission-header">
        <h2>Your Created Commissions</h2>
    </div>

    {% if created_commissions %}
    <div class="glass-layout">
        {% for commission in created_commissions %}
        <div class="glass-card glass-style">
            <div class="headline">{{ commission.title }}</div>
            <p><em>{{ commission.type.name }}</em></p>
            <p>Status: {{ commission.get_status_display }}</p>
            <p>{{ commission.description|truncatechars:150 }}</p>
            <div class="button-placement">
                <a class="nav-link button-border" href="{{ commission.get_absolute_url }}">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="no-data-container glass-style">
        <p>You have no created commissions.</p>
    </div>
    {% endif %}
</div>

<div class="glass-block">
    <div class="commission-header">
        <h2>Commissions You Applied To</h2>
    </div>
    {% if applied_commissions %}
    <div class="glass-layout">
        {% for commission in applied_commissions %}
        <div class="glass-card glass-style">
            <div class="headline">{{ commission.title }}</div>
            <p><em>{{ commission.type.name }}</em></p>
            <p>Status: {{ commission.get_status_display }}</p>
            <p>{{ commission.description|truncatechars:150 }}</p>
            <div class="button-placement">
                <a class="nav-link button-border" href="{{ commission.get_absolute_url }}">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="no-data-container glass-style">
        <p>You have not applied to any commission.</p>
    </div>
    {% endif %}
</div>
{% endif %}

<div class="glass-block">
    <div class="commission-header">
        <h2>All Commissions</h2>
    </div>

    {% if all_commissions %}
    <div class="glass-layout">
        {% for commission in all_commissions %}
        <div class="glass-card glass-style">
            <div class="headline">{{ commission.title }}</div>
            <p><em>{{ commission.type.name }}</em></p>
            <p>Status: {{ commission.get_status_display }}</p>
            <p>{{ commission.description|truncatechars:150 }}</p>
            <div class="button-placement">
                <a class="nav-link button-border" href="{{ commission.get_absolute_url }}">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="no-data-container glass-style">
        <p>No other commissions available.</p>
    </div>
    {% endif %}
</div>

{% endblock %}