body.merchstore-page .navigation-bar {
    background: rgb(103, 0, 213);
}

.product-list {
    background: rgb(103, 0, 213);
    min-height: 100vh;
    padding: 20px;
}

.product-list h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    margin: 0 0 10px 50px
}

.product-list h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 50px;
    
}