* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    color: rgb(36, 36, 36);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

footer {
    text-align: center;
}

header {
    padding: 15px;
    background: #1c2c26;

}

header ul {
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 30px;
    text-align: center;
}

header a,
footer a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

header a:active {
    font-weight: bold;
}

h1,
h2 {
    text-align: center;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px 15px 25px;
}

.else-main-content p {
    text-align: center;
    padding-bottom: 10px;
}

.main-content {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 24px;
    justify-content: center;
    margin: 0 auto;
}

.card {
    height: auto;
    background: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.container {
    margin: 20px;
}

.box {
    background-color: rgb(235, 235, 235);
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

.add {
    text-align: center;
}

.boxes {
    display: flex;
    gap: 15px;
    padding: 0 15px;
}

.box p {
    margin: 0;
}

.boxes .box {
    flex: auto;
    margin: 0;
}