* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    color:rgb(36, 36, 36);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

footer {
    text-align: center;
}