{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title> Common Grounds </title>
    <style></style>
</head>
<body>
    <header>
        <ul>
            <li><a href="/merchstore/items">Merchandise Store</a></li>
            <li><a href="/localevents/events">Local Events</a></li>
            <li><a href="/bookclub/books">Book Club</a></li>
            <li><a href="/diyprojects/projects">DIY Projects</a></li>
            <li><a href="/commissions/requests">Commission Requests</a></li>
        </ul>
    </header>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
<footer>
    <p>&copy; Common Grounds 2026</p>
    {% block footer %}{% endblock %}
</footer>
</html>