{% extends 'base.html' %}
{% load static %}
{% block body_class %}merchstore-page{% endblock %}

{% block body %}
<div class="product-list">
    {% if request.user.is_authenticated %}
        <h1>Welcome, {{ request.user.username }}!</h1>
    {% endif %}
    <h2>Product List</h2>

    <div class="content">

        {% if user.is_authenticated %}
        <div class="add">
            <a href="{% url 'merchstore:product_create' %}">Add a product here</a>
        </div>

        <h3>Your Products</h3>
        {% if user_products %}
        <div class="main-content">
            {% for product in user_products %}
            <div class="card">
                <ul>
                    <li>
                        <h2>{{ product.name }}</h2>
                        <p><strong>Type:</strong> {{ product.product_type.name }}</p>
                        <p>Php {{ product.price }}</p>
                        <a href="{{ product.get_absolute_url }}">View Details</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="else-main-content">
            <p><em>You have no products yet.</em></p>
        </div>
        {% endif %}
        {% endif %}

        <h2>All Products</h2>
        {% if products %}
        <div class="main-content">
            {% for product in products %}
            <div class="card">
                <ul>
                    <li>
                        <h2>{{ product.name }}</h2>
                        <p><strong>Type:</strong> {{ product.product_type.name }}</p>
                        <p>Php {{ product.price }}</p>
                        <a href="{{ product.get_absolute_url }}">View Details</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="else-main-content">
            <p><em>No products available.</em></p>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}