{% extends 'base.html' %}
{% load static %}

{% block body %}
<h1> {{ product.name }} </h1>

<div class="container">
    <div class="box"><strong>Price:</strong> Php {{ product.price }}</div>
    <div class="box"><strong>Type:</strong> {{ product.product_type.name }}</div>
    <div class="box"><strong>Description:</strong> {{ product.description }}</div>
    <div class="box">
        <a href="{% url 'merchstore:product_list' %}">Return to Product List</a>
    </div>

    {% if is_owner %}
    <div class="box">
        <a href="{% url 'merchstore:product_update' product.pk %}">Edit Product Details</a>
    </div>
    {% endif %}

    <div class="box">
        {% if can_buy %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Buy</button>
        </form>
        {% else %}
        <button disabled>
            {% if product.stock == 0 %}
                Product is out of stock. Sorry for the inconvenience.
            {% else %}
                Cannot Buy Your Own Product.
            {% endif %}
        </button>
        {% endif %}
    </div>
</div>
{% endblock %}