{% extends "base.html" %}
{% load static %}

{% block app_style %}
<link rel="stylesheet" href="{% static 'merchstore/css/merchstore.css' %}">
{% endblock %}

{% block body %}
    <h1>{{ request.user.profile.display_name}}'s Sales Transactions</h1>

    {% if grouped_transactions %}

        {% for buyer, transactions in grouped_transactions.items %}
            <div>

                <h2>
                    Buyer:
                    {% if buyer %}
                        {{ buyer.display_name }}
                    {% else %}
                        Anonymous Buyer
                    {% endif %}
                </h2>

                <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <td>{{ transaction.product.name }}</td>
                                    <td>{{ transaction.amount }}</td>
                                    <td>{{ transaction.status }}</td>
                                    <td>{{ transaction.created_on|date:"M d, Y H:i" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>

            </div>
        {% endfor %}

    {% else %}
        <p>No transactions found.</p>
    {% endif %}

{% endblock %}


{% block background %}
<div class="wave-container">
    <svg xmlns="http://www.w3.org/2000/svg" width="1071" height="411" viewBox="0 0 1071 411" fill="none">
        <path class="wave3" d="M700.5 171C498 118 248 342.5 0 0H1071V491C1018.2 435.61 903 224 700.5 171Z" 
            fill="url(#paint0_linear_204_490)"/>
        <defs>
            <linearGradient id="paint0_linear_204_490" x1="950.352" y1="120.122" x2="670.301" y2="574.148" gradientUnits="userSpaceOnUse">
                <stop stop-color="#72350F" stop-opacity="0"/>
                <stop offset="1" stop-color="#EC460D"/>
            </linearGradient>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="1163" height="388" viewBox="0 0 1163 388" fill="none">
        <path class="wave2" d="M613.863 161C327 327.5 192 62.5 0 388V0H1163C1024 29 900.725 -5.5 613.863 161Z" 
            fill="url(#paint0_linear_160_59)"/>
        <defs>
            <linearGradient id="paint0_linear_160_59" x1="396.057" y1="0" x2="396.057" y2="283.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FECB5F" stop-opacity="0"/>
                <stop offset="1" stop-color="#F27220"/>
            </linearGradient>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="605" viewBox="0 0 1920 605" fill="none">
        <path class="wave1" d="M1150.5 366.5C784.392 294.75 505 128 0 605V1725.5H1001.5H1920V605V0C1716 78.4999 1548.5 444.5 1150.5 366.5Z" 
            fill="url(#paint0_linear_160_57)"/>
        <defs>
            <linearGradient id="paint0_linear_160_57" x1="925.333" y1="765.5" x2="1024.28" y2="9.78102" gradientUnits="userSpaceOnUse">
                <stop stop-color="#A32121" stop-opacity="0"/>
                <stop offset="1" stop-color="#980C21"/>
            </linearGradient>
        </defs>
    </svg>
</div>
{% endblock %}

