{% extends 'base_diy-projects.html' %}
{% load static %}

{% block app_style %}
<link rel="stylesheet" href="{% static 'diyprojects/css/styles.css' %}">
{% endblock %}

{% block body %}
<div class="create-wrapper">
    <div class="back-block">
        <img src="/static/global/img/left-arrow.png" alt="arrow icon" width="24">
        <a href="/diyprojects/projects/" class="back-link">Back</a>
    </div>
    <div class="app-header">
        <h1 class="app-header-text">
            {% if project %}
            Edit Project
            {% else %}
            Add Project
            {% endif %}
        </h1>
    </div>
    <div class="form-wrapper">
        <form action="{% if project %}
                    {% url 'diyprojects:diyprojects_edit' project.pk %}
                {% else %}
                    {% url 'diyprojects:diyprojects_create' %}
                {% endif %}" method="POST">
            {% csrf_token %}
            <div class="form-fields">
                <div class="glass form-description-container">
                    <div class="form-description-wrap">
                        <div class="title-section">
                            <p class="form-label">Project name: </p>
                            {{ project_form.title }}
                        </div>
                        <div class="category-section">
                            <p class="form-label">Category: </p>
                            {{ project_form.category }}
                        </div>
                        <div class="description-section">
                            <p class="form-label">Description: </p>
                            {{ project_form.description }}
                        </div>
                    </div>
                </div>
                <div class="glass form-detail-container">
                    <div class="form-detail-wrap">
                        <div class="material-section">
                            <p class="form-label">Materials: </p>
                            {{ project_form.materials }}
                        </div>
                        <div class="steps-section">
                            <p class="form-label">Steps: </p>
                            {{ project_form.steps }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-block">
                <button type="submit" name="action" value="project" class="glass submit-button">
                    {% if project %}
                    Update project
                    {% else %}
                    Add project
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}