{% extends 'base_diy-projects.html' %}
{% load static %}

{% block app_style %}
<link rel="stylesheet" href="{% static 'diyprojects/css/styles.css' %}">
{% endblock %}

{% block body %}
<div class="detail-wrapper">
    <div class="back-block">
        <img src="/static/global/img/left-arrow.png" alt="arrow icon" width="24">
        <a href="/diyprojects/projects/" class="back-link">Back</a>
    </div>

    {% if messages %}
    {% for message in messages %}
    {% if "project_rated" in message.tags %}
    <div class="alert success">
        You have submitted a rating for {{ message }}
    </div>
    {% elif "project_unfavorited" in message.tags %}
    <div class="alert success">
        You removed {{ message }} from your favorites
    </div>
    {% elif "project_favorited" in message.tags %}
    <div class="alert success">
        You added {{ message }} to your favorites
    </div>
    {% elif "project_reviewed" in message.tags %}
    <div class="alert success">
        You added a review for {{ message }}
    </div>
    {% elif "project_created" in message.tags %}
    <div class="alert success">
        You have succesfully created the project: {{ message }}
    </div>
    {% elif "project_edited" in message.tags %}
    <div class="alert success">
        You have succesfully edited the project: {{ message }}
    </div>
    {% elif "review_replied" in message.tags %}
    <div class="alert success">
        You have succesfully replied to a review: {{ message }}
    </div>
    {% elif "review_voted" in message.tags %}
    <div class="alert success">
        You have succesfully voted a review: {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="top-detail-section">
        <div class="dates-edit-block">
            <div class="dates-block">
                <p class="date">Created: {{ project.created_on }}</p>
                <p class="date">Last Updated: {{ project.updated_on }}</p>
            </div>
            {% if is_owner %}
            <a class="glass edit-button" href="{% url 'diyprojects:diyprojects_edit' project.pk %}">
                Edit Project
            </a>
            {% endif %}
        </div>
        <div class="subject-block">
            <div class="title-fav-block">
                <h1 class="project-detail-title">{{ project.title }}</h1>
                <div class="favorite-block">
                    <div class="glass heart-block">
                        <form action="{% url 'diyprojects:diyprojects_detail' project.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="action" value="favorite" class="heart-icon">
                                {% if is_favorited %}
                                <img src="/static/diyprojects/img/full-heart.png" alt="arrow icon" width="24">
                                {% else %}
                                <img src="/static/diyprojects/img/hollow-heart.png" alt="arrow icon" width="24">
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    <div class="glass favorites-block">
                        <p class="detail-text">{{ favorite_count }} people favorited this project</p>
                    </div>
                </div>
            </div>
            <div class="cat-rating-block">
                <div class="cat-rat-block">
                    <p class="category-name">{{ project.category.name }}</p>
                    <div class="rating-block">
                        <div class="rating-score">
                            <p class="average-rating">{{ average_rating|floatformat:1 }}</p>
                            <div class="star-outer">
                                <div class="star-inner" style="--rating: {{ percentage_rating }}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <div class="glass user-rating-block">
                    {% if existing_rating %}
                    <span class="detail-text">You rated this project: {{ existing_rating.score }}/5</span>
                    {% else %}
                    <form action="{% url 'diyprojects:diyprojects_detail' project.pk %}" method="POST"
                        class="rating-form">
                        {% csrf_token %}
                        <label for="score">
                            <span class="detail-text">Rate the Project:</span>
                            {{ rate_form.score }}
                        </label>
                        {{ rate_form.score.errors }}
                        <button type="submit" name="action" value="rate" class="submit-rating">
                            <img src="/static/global/img/right-arrow.png" alt="arrow icon" width="24">
                        </button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="body-detail-section">
        <div class="glass box">
            <p class="detail-label">Description</p>
            <p>{{ project.description }}</p>
        </div>
        <div class="glass box">
            <p class="detail-label">Materials</p>
            <p>{{ project.materials }}</p>
        </div>
        <div class="glass box">
            <p class="detail-label">Steps</p>
            <p>{{ project.steps }}</p>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="review-section">
        <h2 class="review-heading">Submit a review</h2>
        <div class="glass review-form">
            <form action="{% url 'diyprojects:diyprojects_detail' project.pk %}" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ review_form.comment }}
                <label for="image">Submit a photo:</label>
                {{ review_form.image }}
                <div class="submit-block">
                    <img src="/static/global/img/right-arrow.png" alt="arrow icon" width="24">
                    <button type="submit" name="action" value="review" class="submit-review">Submit Review</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    {% if reviews %}
    {% for review in reviews %}
    <div class="glass reviews">
        <div class="reviews-top">
            <div class="writer">
                <p class="reviewer">{{ review.reviewer }}</p>
                <p class="comment">{{ review.comment }}</p>
                {% if review.image %}
                <img src="{{ review.image.url }}" class="image">
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="upvotes">
                <p class="upvote-score">
                    {{ review.score|default:0 }}
                </p>
                <div class="upvote-buttons">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="review_id" value="{{ review.id }}">
                        <input type="hidden" name="value" value="1">

                        <button name="action" value="vote" class="upvote-button">
                            {% if review.user_vote == 1 %}
                            <img src="/static/diyprojects/img/up-solid.png" width="16">
                            {% else %}
                            <img src="/static/diyprojects/img/hollow-up.png" width="16">
                            {% endif %}
                        </button>
                    </form>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="review_id" value="{{ review.id }}">
                        <input type="hidden" name="value" value="-1">
                        <button name="action" value="vote" class="upvote-button">
                            {% if review.user_vote == -1 %}
                            <img src="/static/diyprojects/img/down-solid.png" width="16">
                            {% else %}
                            <img src="/static/diyprojects/img/hollow-down.png" width="16">
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="replies">
            <form method="POST" class="reply-form">
                {% csrf_token %}
                <input type="hidden" name="parent_id" value="{{ review.id }}">
                <input type="text" name="comment" placeholder="Reply..." class="reply-field">
                <button name="action" value="reply" class="send-button">
                    <img src="/static/diyprojects/img/send-icon.png" width="24">
                </button>
            </form>
        </div>
        {% endif %}
        {% for reply in review.replies.all %}
        <div class="reply-block">
            <strong>{{ reply.reviewer }}</strong>
            <p class="reply">
                {{ reply.comment }}
            </p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <div class="box">
        <p class="else">No reviews yet.</p>
    </div>
    {% endif %}
    {% endblock %}
</div>