{% extends 'base.html' %}
{% load static %}

{% block app_style %}
<link rel="stylesheet" href="{% static 'diyprojects/css/styles.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="app-header">DIY Projects List</h1>
    <div class="add-block">
        <img src="/static/diyprojects/icons/add.svg" alt="add-icon" width="24">
        <div class="add">
            <a href="/diyprojects/project/add" class="add-text">Add a project here</a>
        </div>
    </div>
    <div class="content">
        <h2>Projects Created</h2>
        {% if created_projects %}
        <div class="main-content">
            {% for project in created_projects %}
            <div class="card">
                <ul>
                    <li>
                        <h2>{{ project.title }}</h2>
                        <p><strong>Category:</strong> {{ project.category.name }}</p>
                        <p>{{ project.description|truncatechars:30}}</p>
                        <a href="{{ project.get_absolute_url }}">View Details</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="else-main-content">
            <p><em>No created projects.</em></p>
        </div>
        {% endif %}
        <h2>Projects Reviewed</h2>
        {% if reviewed_projects %}
        <div class="main-content">
            {% for project in reviewed_projects %}
            <div class="card">
                <ul>
                    <li>
                        <h2>{{ project.title }}</h2>
                        <p><strong>Category:</strong> {{ project.category.name }}</p>
                        <p>{{ project.description|truncatechars:30}}</p>
                        <a href="{{ project.get_absolute_url }}">View Details</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="else-main-content">
            <p><em>No reviewed projects.</em></p>
        </div>
        {% endif %}
        <h2>Favorite Projects</h2>
        {% if favorited_projects %}
        <div class="main-content">
            {% for project in favorited_projects %}
            <div class="card">
                <ul>
                    <li>
                        <h2>{{ project.title }}</h2>
                        <p><strong>Category:</strong> {{ project.category.name }}</p>
                        <p>{{ project.description|truncatechars:30}}</p>
                        <a href="{{ project.get_absolute_url }}">View Details</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="else-main-content">
            <p><em>No favorite projects.</em></p>
        </div>
        {% endif %}
        <h2>All Projects</h2>
        {% if projects %}
        <div class="main-content">
            {% for project in projects %}
            <div class="card">
                <ul>
                    <li>
                        <h2>{{ project.title }}</h2>
                        <p><strong>Category:</strong> {{ project.category.name }}</p>
                        <p>{{ project.description|truncatechars:30}}</p>
                        <a href="{{ project.get_absolute_url }}">View Details</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="else-main-content">
            <p><em>No new projects available.</em></p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}